<div class="row">
	<div class="col-md-12">
		<leaflet height="400px" defaults="mapDefaults.defaults" center="mapDefaults.center" markers="mapDefaults.markers"></leaflet>
	</div>
</div>
<div class="row">
	<div class="col-md-7">
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>At Scene Date</th>
					<th>Initial Type Group</th>
					<th>Hundred Block Location</th>
					<th>Initial Type Description</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="incident in incidents">
					<td>{{incident.at_scene_time | date:'MM/dd/yyyy @ h:mma'}}</td>
					<td>{{incident.initial_type_group}}</td>
					<td>{{incident.hundred_block_location}}</td>
					<td>{{incident.initial_type_description}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-5">
		<highchart id="incidentBreakdown" config="chartConfig" class="col-md-12"></highchart>
	</div>
		<div class="col-md-5">
		<highchart id="incidentsOverTime" config="chartConfigTimeSeries" class="col-md-12"></highchart>
	</div>
</div>
